<div class="modal-header log-modal-header">
  <h3 class="modal-title" id="modal-title">Reflection Prompt</h3>
</div>
<!--<p>{{$ctrl.buttonState}}</p>-->
<div class="modal-body log-modal-body" id="modal-body">
  <h3>Who all is viewing?</h3>
  <div class="source">
      <ul class="list-inline"> 
        <li ng-repeat="fam in $ctrl.checkFam">
          <div ng-class="fam.checked ? 'activeLogReporter' : 'inactiveReporter'">
            <label class="btn btn-info btn-xlarge btn-block logModalReporter" ng-click="$event.preventDefault(); $ctrl.isOK();" ng-model="fam.checked" uib-btn-checkbox>{{ fam.name }}</label>
          </div>
        </li>
      </ul>
    </div>  

 
 <!-- <h3>Would you like to answer this question today? Do you feel well rested?</h3> -->
<h3>
  <div ng-bind-html="$ctrl.prompt"></div>
</h3>
<h4><hr>To answer the prompt, click <b>Start Recording</b> when you are ready.</h4>
  <!--<div class="source">
    <ul class="list-inline"> 
      <li>
        <button class="btn btn-info btn-xlarge" type="button" ng-click="$ctrl.recorderbuttonState=$ctrl.recorderbuttonState+1; $ctrl.record=true">Start Recording</button>
        <button class="btn btn-info btn-xlarge" type="button" ng-click="$ctrl.recorderbuttonState=$ctrl.recorderbuttonState+1; $ctrl.record=false">No</button>
      </li>
    </ul>
  </div> -->
  <!-- <h4 ng-show="$ctrl.record">Recording will start automatically when you click OK</h4> -->

</div>
<!--  
</div>
<div class="modal-footer">
        <button class="modal-btn btn btn-primary btn-lg" type="button" ng-disabled="!(($ctrl.personabuttonState >=1) && $ctrl.recorderbuttonState >= 1)" ng-click="$ctrl.ok()">OK</button>
 -->


<div class="modal-footer log-modal-footer">
        <button class="btn btn-primary btn-xlarge modalOK" type="button" ng-disabled="!($ctrl.buttonState >=1)" ng-click="$ctrl.record=true; $ctrl.ok()">Start Recording</button>

        <button class="btn btn-warning btn-xlarge" type="button" ng-click="$ctrl.record=false; $ctrl.cancel()">Cancel</button>
<!-- 
  <h3>Would you like to answer this question today? Do you feel well rested?</h3>
  <div class="source">
    <ul class="list-inline"> 
      <li>
        <button class="btn btn-info btn-lg " type="button"ng-click="$ctrl.recorderbuttonState=$ctrl.recorderbuttonState+1; $ctrl.record=true">Yes</button>
        <button class="btn btn-info btn-lg " type="button" ng-click="$ctrl.recorderbuttonState=$ctrl.recorderbuttonState+1; $ctrl.record=false" >no</button>
      </li>
    </ul>
  <div class="source">
  <div ng-show="$ctrl.record" style="display: inline-block;">
    <recorder></recorder>
  </div>
 -->
<!-- </div> -->
        
</div>
