
<div class="aboutus-container" ng-controller="AboutCtrl">

	<div id="aboutus-contents">
	<p> For any issues please contact <b>Laura Pina</b> at <span id="laura">lpina&#64;cs.uw.edu</span></p>
	<p> This project was funded by XXXXX (Numbers) from the University of Washington </p>
	<p> I am very grateful to have had the following students contribute. They were indispensible to building this sytem</p>
	<p> This system was built in collaboration with: </p>
	<ul>
	    <li><a class="about-link" ng-href="https://www.linkedin.com/in/sang-wha-sien">Sang-Wha Sien</a></li>
	    <li><a class="about-link" ng-href="https://www.linkedin.com/in/diana-oviedo-72398b14/">Diana Oviedo</a></li>
	    <li><a class="about-link" ng-href="https://www.linkedin.com/in/clarissa-song-b8099584/">Clarissa Song</a></li>
	    <li><a class="about-link" ng-href="https://www.yuanzhuangux.com">Yuan Zhuang</a></li>
	    <li><a class="about-link" ng-href="https://www.taoxili.net">Taoxi (Tessa) Li</a></li>
	    <li><a class="about-link" ng-href="https://linkedin.com/in/ada-s-kim/"> Ada S. Kim</a></li>
	</ul>
	</div>
</div>