<div class="familydailyview-container">
    <!--need 1x2 | 1  for moon| 1x2-->

    <div ng-repeat="(pidCurrent, memberCurrent) in viewModel.familyInfo">
        <div ng-if="$even" class="fdv-even-column col-xs-4">
            <!--even object -->
            <div>
                <img ng-src={{memberCurrent.profilePic}} class="profile-pics">
                <p class="fdv-names">{{memberCurrent.name}}</p>
            </div>
            <div class="target-hours">
                <p class="target-hours-text">Target hours: {{ memberCurrent.targetedHours }}</p>
            </div>

            <div class="weekly-view-button">
                <button ng-click="changeToSingleWeeklyView(pidCurrent)" class="btn btn-primary weekly-view-button"> Weekly View</button>

            </div>
            <div ng-controller="ModalCrtl as $ctrl">
                <div ng-if= "viewModel.today == viewModel.calendarDate" >
                    <div ng-if=viewModel.states[pidCurrent].state>
                    <!-- <div ng-if=$ctrl.states[pidCurrent].state> -->
                        <div>
                            <!--<a ng-href="./views/sdview/{{pidCurrent}}" class="btn btn-primary"> Single Daily View</a>-->
                            <button ng-click="changeToSingleDailyView(pidCurrent)" class="btn btn-primary single-view-button"> Daily View</button>
                            <!--want an ng-if here to show only after daily sleep and self-report is available -->
                        </div>
                        <!-- <div ng-show="memberCurrent.duration == -1" ng-controller="PiechartcontrollerCtrl" class="chart-placement"> -->
                        <!-- <div ng-show="memberCurrent.duration == -1" class="chart-doughnut">
                            <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="viewModel.labels" chart-colors="viewModel.colors" chart-options="viewModel.options">
                            </canvas>
                        </div>
                        <div ng-show="memberCurrent.duration !=-1" class="chart-placement">
                            <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="viewModel.labels" chart-colors="viewModel.colors" chart-options="viewModel.options">
                            </canvas>
                        </div> -->
                        <div class="chart-placement">
                            <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="memberCurrent.labels" chart-colors="memberCurrent.colors" chart-options="memberCurrent.options">
                            </canvas>
                        </div>
                        <img ng-src={{viewModel.states[pidCurrent].image}} class="mood-pics">
                        <!-- <img ng-src={{$ctrl.states[pidCurrent].image}} class="mood-pics"> -->
                        <div>
                            <p class="hours-slept">Hours slept: <br>{{memberCurrent.hours | number:2}}</p>
                        </div>
                        <!-- <p class="mood-report">Mood reported to be {{$ctrl.states[pidCurrent].mood | uppercase}}</p> -->
                        <div class="mood-report">
                            <p class="mood-report-text">{{viewModel.states[pidCurrent].mood | uppercase}}</p>
                        </div>
                    </div>
                    <!-- <div ng-if=!$ctrl.states[pidCurrent].state> -->
                    <div ng-if=!viewModel.states[pidCurrent].state>
                        <div ng-controller="PiechartcontrollerCtrl" class="chart-placement">
                            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors="color" chart-options="options">
                            </canvas>
                        </div>
                        <!--inserts code for the modal popup window-->
                        <button type="button" class="how-sleep-button btn btn-default" ng-click="$ctrl.open(pidCurrent)">
                            How did you sleep?
                        </button>
                    </div>
                </div>
                <div ng-if= "viewModel.today != viewModel.calendarDate" >
                    <div>
                    
                        <button ng-click="changeToSingleDailyView(pidCurrent)" class="btn btn-primary single-view-button">Daily View</button>

                        
                    </div>
                    <div class="chart-placement">
                        <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="memberCurrent.labels" chart-colors="memberCurrent.colors" chart-options="memberCurrent.options">
                        </canvas>
                    </div>
                    <!-- <div ng-show="memberCurrent.duration == -1" class="chart-doughnut">
                          <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="viewModel.labels" chart-colors="viewModel.colors" chart-options="viewModel.options">
                            </canvas>
                    </div>
                    <div ng-show="memberCurrent.duration !=-1" class="chart-placement">
                            <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="viewModel.labels" chart-colors="viewModel.colors" chart-options="viewModel.options">
                            </canvas>
                    </div> -->
                    <!-- <div class="chart-placement"> -->
                        <!-- <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="viewModel.labels" chart-colors="viewModel.colors" chart-options="viewModel.options">
                        </canvas> 
                    </div>-->
                    <div ng-if=viewModel.states[pidCurrent].state>
                        <img ng-src={{viewModel.states[pidCurrent].image}} class="mood-pics">
                        <!-- <p class="mood-report">Mood reported to be {{$ctrl.states[pidCurrent].mood | uppercase}}</p> -->
                        <div>
                            <p class="hours-slept">Hours slept: <br>{{memberCurrent.hours | number:2}}</p>
                        </div>
                        <div class="mood-report">
                            <p class="mood-report-text">{{viewModel.states[pidCurrent].mood | uppercase}}</p>
                        </div>
                    </div>
                    <div ng-if=!viewModel.states[pidCurrent].state>
                        <div class="mood-report">
                            <p class="mood-report-text">No mood reported for this date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="$odd" class="fdv-odd-column col-xs-4">
            <!--odd object -->
            <div>
                <img ng-src={{memberCurrent.profilePic}} class="profile-pics">
                <p class="fdv-names">{{memberCurrent.name}}</p>
            </div>
            <div class="target-hours">
                <p class="target-hours-text">Target hours: {{ memberCurrent.targetedHours }}</p>
            </div>

            <div class="weekly-view-button">
                <button ng-click="changeToSingleWeeklyView(pidCurrent)" class="btn btn-primary weekly-view-button"> Weekly View</button>

            </div>
            <div ng-controller="ModalCrtl as $ctrl">
                <div ng-if= "viewModel.today == viewModel.calendarDate" >
                    <div ng-if=viewModel.states[pidCurrent].state>
                        <div>
                            <!--<a ng-href="./views/sdview/{{pidCurrent}}" class="btn btn-primary"> Single Daily View</a>-->
                            <button ng-click="changeToSingleDailyView(pidCurrent)" class="btn btn-primary single-view-button"> Daily View</button>
                            <!--want an ng-if here to show only after daily sleep and self-report is available -->
                        </div>
                        <div class="chart-placement">
                            <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="memberCurrent.labels" chart-colors="memberCurrent.colors" chart-options="memberCurrent.options">
                            </canvas>
                        </div>
                        <img ng-src={{viewModel.states[pidCurrent].image}} class="mood-pics">
                        <div>
                            <p class="hours-slept">Hours slept: <br>{{memberCurrent.hours | number:2}}</p>
                        </div>
                        <!-- <p class="mood-report">Mood reported to be {{$ctrl.states[pidCurrent].mood | uppercase}}</p> -->
                        <div class="mood-report">
                            <p class="mood-report-text">{{viewModel.states[pidCurrent].mood | uppercase}}</p>
                        </div>
                    </div>
                    <div ng-if=!viewModel.states[pidCurrent].state>
                        <div ng-controller="PiechartcontrollerCtrl" class="chart-placement">
                            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors="color"
                                    chart-options="options">
                            </canvas>
                        </div>
                        <!--inserts code for the modal popup window-->
                        <button type="button" class="how-sleep-button btn btn-default" ng-click="$ctrl.open(pidCurrent)">
                            How did you sleep?
                        </button>
                    </div>
                </div>
                <div ng-if= "viewModel.today != viewModel.calendarDate" >
                    <div> 
                        <button ng-click="changeToSingleDailyView(pidCurrent)" class="btn btn-primary single-view-button"> Daily View</button>
                    </div>
                    <div class="chart-placement">
                        <canvas id="doughnut" class="chart-doughnut" chart-data="memberCurrent.sleep" chart-labels="memberCurrent.labels" chart-colors="memberCurrent.colors" chart-options="memberCurrent.options">
                        </canvas>
                    </div>
                    <div ng-if=viewModel.states[pidCurrent].state>
                        <img ng-src={{viewModel.states[pidCurrent].image}} class="mood-pics">
                        <!-- <p class="mood-report">Mood reported to be {{$ctrl.states[pidCurrent].mood | uppercase}}</p> -->
                        <div>
                            <p class="hours-slept">Hours slept: <br>{{memberCurrent.hours | number:2}}</p>
                        </div>
                        <div class="mood-report">
                            <p class="mood-report-text">{{viewModel.states[pidCurrent].mood | uppercase}}</p>
                        </div>
                    </div>
                    <div ng-if=!viewModel.states[pidCurrent].state>
                        <div class="mood-report">
                            <p class="mood-report-text">No mood reported for this date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-controller="MoonCtrl" class="col-xs-4">
        <img ng-src="{{moonImage}}" alt="moon" id="family_moon">
    </div>
</div>