<div class="familyweeklyview-container">

    <!-- person row -->
    <div class="fwv-columns" id="blank-date">blank</div>
    <div ng-repeat="date in viewModel.dateWeekStr" class="fwv-date-columns">
        <p class="fwv-date">{{date | date: 'EEE, MMM d'}}</p>
    </div>
    <div ng-repeat="(pidCurrent, memberCurrent) in viewModel.familyInfo | toArray | orderBy : 'name'">
	   <div class="fwv-person row">
        <!-- week col for particular person -->
        <div class="fwv-columns pic-column">
            <img ng-src={{memberCurrent.profilePic}} class="profile-pics">
            <p class="fwv-names">{{memberCurrent.name}}</p>
        </div>
          <div ng-repeat="day in memberCurrent.days | toArray | orderBy:'-date'" class="fwv-columns">
            
            <!-- <div ng-show="day.duration !=-1" class="fwv-chart-placement"> -->
            <div class="fwv-chart-placement">
                <!-- <p>{{day.duration}}</p> -->
                <!--<class="chart-placement">-->
                    <!-- <p>{{day.date}}</p> -->
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="day.sleep" chart-labels="day.labels" chart-colors ="day.colors" chart-options="day.options"> 
                    </canvas>
                    <!-- <div ng-show="day.duration == -1">
                      <p>No data</p>
                    </div> -->
                    <!-- <img ng-src="app/images/faces/happy.png" class="fwv-mood-pics"> -->
                    
                    <!-- <div ng-show="viewModel.states[day.date][pidCurrent].state">
                      <img ng-src="{{viewModel.states[day.date][pidCurrent].image}}" class="fwv-mood-pics">
                      <p class="fwv-mood-text">{{viewModel.states[day.date][pidCurrent].mood}}</p>
                    </div>
                    <div ng-hide="!viewModel.states[day.date][pidCurrent].state">
                    </div> -->
                    <div ng-show="viewModel.states[day.date][memberCurrent.pid].state">
                      <img ng-src="{{viewModel.states[day.date][memberCurrent.pid].image}}" class="fwv-mood-pics">
                      <div ng-switch="viewModel.states[day.date][memberCurrent.pid].mood">
                        <div ng-switch-when="Had a nightmare">
                          <p class="fwv-mood-text-small">{{viewModel.states[day.date][memberCurrent.pid].mood | uppercase }}</p>
                        </div>
                        <div ng-switch-default>
                          <p class="fwv-mood-text">{{viewModel.states[day.date][memberCurrent.pid].mood | uppercase }}</p>
                        </div>
                      </div>
                    </div>
                    <div ng-hide="!viewModel.states[day.date][memberCurrent.pid].state">
                    </div>
                    
                    <!-- <img ng-src="app/images/faces/happy.png" class="fwv-mood-pics"> -->
                    
                    <!-- <p class="fwv-mood-text">{{date}}</p> -->
                    <!-- <p>{{viewModel.states[day.date][pidCurrent].mood}}</p> -->
                    
                <!--</div>-->
            </div>
            <!-- <div ng-show="day.duration==-1" class="fwv-chart-placement"> -->
                 <!--  <canvas id="doughnut" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
                  </canvas> -->
                  <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="day.sleep" chart-labels="viewModel.labels" chart-colors ="viewModel.colors" chart-options="viewModel.options"> 
                  </canvas> -->
            <!-- </div> -->
          </div>
      </div>
    </div>
</div>
<!--
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/momcircle.png" alt="momcircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- other family member
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/dadcircle.png" alt="dadcircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- other family member
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/girlcircle.png" alt="girlcircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- fourth family member
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/soncircle.png" alt="soncircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

-->
    <!--
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- other family member
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- other family member
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- fourth family member
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>-->