
<div class="sound-recorder">
    <!-- only want to show microphone when nothing has been recorded -->
    <md-button class="md-fab" ng-if="recordStopped" ng-click="onRecord()" aria-label="start-clean-button">
      <img class="recorder-logo" src="app/images/recorder/sound_recorder.png">
    </md-button>

    <div class="recorder-info" ng-if="recordStopped">
      {{instruction}}
    </div>


  <div class="recorder-bar {{active}}" ng-if="recordRecording">
    <md-progress-linear class="recorder-bar-progress" md-mode="indeterminate"></md-progress-linear>
    <div class="record-descrip">
      Recording
    </div>
    <div class="speech-bubble" ng-show="prompt">
      <p ng-bind-html="prompt"></p>
    </div>
  </div>

  <!-- only show stop when record is recording or paused -->
  <div class="record-button" ng-if="!recordStopped"> 
    <md-button class="md-fab" ng-click="onStopRecord()" aria-label="pause-button">
      <img class="recorder-logo" src="app/images/recorder/stop.png">
    </md-button>
    <div class="record-descrip">
      Stop
    </div>
  </div>
</div>