<div class="singleview-container">

	<div class="row">
	<!--
		<div class="col-xs-4">
			
			<div>
	            <img ng-src={{viewModel.familyInfo.profilePic}} class="profile-pics">
	            <p class="fdv-names">{{viewModel.familyInfo.name}}</p>
	        </div>
	        <div class="target-hours">
	            <p>Target hours: {{viewModel.familyInfo.targetedHours }}</p>
	        </div>

			<div ng-if="viewModel.familyInfo.duration == -1">
            	<div ng-controller="PiechartcontrollerCtrl" class="chart-placement">
                    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors="color"
                            chart-options="options">
                    </canvas>
                </div>

			</div>
			<div ng-if="viewModel.familyInfo.duration > -1">
				<div class="chart-placement">
                    <canvas id="doughnut" class="chart-doughnut" chart-data="viewModel.familyInfo.sleep" chart-labels="viewModel.labels" chart-colors="viewModel.colors" chart-options="viewModel.options">
                    </canvas>
                </div>

			</div>
		</div>
-->
		<canvas class="chart chart-bar" chart-data="viewModel.familyInfo.night" chart-labels="viewModel.barlabels" chart-options="viewModel.baroptions" chart-series="viewModel.barseries" chart-colors="viewModel.barcolors" width="50" height="10">
		</canvas>
	</div>

</div>
