<div class="singleview-container">

	<div class="row">
		<div class="col-xs-4">
			
			<div>
	            <img ng-src={{viewModel.familyInfo.profilePic}} class="profile-pics">
	            <p class="fdv-names">{{viewModel.familyInfo.name}}</p>
	        </div>
	        <div class="target-hours">
	            <p>Target hours: {{viewModel.familyInfo.targetedHours }}</p>
	        </div>
			<!--<img ng-src="{{persona." alt="momcircle" id="sdv-profile-pic">
			<p id="sdv-name">{{id}}</p>-->

			<div ng-if="viewModel.familyInfo.duration == -1">
				<p>no sleep data</p>
			</div>
			<div ng-if="viewModel.familyInfo.duration > -1">
				<p>sleep data</p>
			</div>
		</div>

	</div>
</div>
