<div class="singleweeklyview-container" ng-controller="SingleweeklyviewCtrl">

<p> {{id}}</p>

<!-- Legend -->
<ul id="swv-legend">
  <li><div id="swv-legend-sleep"></div></li>
  <li>Sleep</li>
  <li><div id="swv-legend-movement"></div></li>
  <li>Movement</li>
  <li><div id="swv-legend-restless"></div></li>
  <li>Restless</li>
  <li><div id="swv-legend-no-data"></div></li>
  <li>No Data</li>
</ul>  

<!--no data when there is not data for that day -->
<!--<p>No Data</p>-->
<div class="swv-row row" ng-repeat="day in data">
<p class="swv-date">{{day.date}}</p>
	<div ng-if="day.duration==-1" ng-controller="EmptybarchartCtrl" id="no-data-chart">
	<!--<p>{{day.duration}}</p>
			-<p>{{data}}</p>-->
			<canvas class="swv-empty-chart-placement chart chart-horizontal-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="color" height="40" width="800"></canvas>	
	</div>
	<div ng-if="day.duration > -1" ng-controller="StackedbarCtrl">
		<div ng-switch on="$index">
			<div ng-switch-when="0">
				<canvas class="swv-chart-placement chart chart-bar" chart-data="day.data" chart-labels="day.labels" chart-options="options_first" chart-series="series" chart-colors="colors"  height="90" width="800"></canvas>	
				<!--<img ng-src={{day.mood}} class="mood-pics">-->
				<img ng-src="images/faces/happy.png" class="swv-mood-pics">
			</div>
			<div ng-switch-when="6">
				<canvas class="swv-chart-placement-last chart chart-bar" chart-data="day.data" chart-labels="day.labels" chart-options="options_last" chart-series="series" chart-colors="colors"  height="100" width="800"></canvas>
				<!--<img ng-src={{day.mood}} class="mood-pics">-->
				<img ng-src="images/faces/happy.png" class="swv-mood-pics-last">
			</div>
			<div ng-switch-default>
				<canvas class="swv-chart-placement chart chart-bar" chart-data="day.data" chart-labels="day.labels" chart-options="options" chart-series="series" chart-colors="colors"  height="45" width="800"></canvas>	
				<!--<img ng-src={{day.mood}} class="mood-pics">-->
				 <img ng-src="images/faces/happy.png" class="swv-mood-pics">
			</div>
		</div>
	</div>
</div>
</div>
	
	<!--
	 <canvas ng-if="day.labels.length>" class="chart chart-bar" chart-data="day.data" chart-labels="day.labels" chart-options="options" chart-series="series" chart-colors="colors"  height="75px"></canvas>	
	width="50" height="10"-->