.date-picker {
	display: inline-block;
}

/* changes color of date: black when in calendar view, white otherwise */
input[aria-expanded=true] {
	color: black;
}

input[aria-expanded=false] {
	color: white;
}

.md-button {
  height: 45px;
}

.md-button.md-icon-button {
  background-color: #D3DBE9; /*rgba(255, 255, 255, 0.4);*/
  opacity: 0.8;
}

.md-datepicker-input {
  color: white;
  font-size: medium;
}

md-icon {
  svg {
    path {
      fill: #555555;
    }
  }
}

.md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: #555555;
}

#datepicker-placement {
  margin-top: 10px;
  margin-left: 40px;
}

._md-datepicker-has-triangle-icon {
    padding-right: 18px;
    margin-right: 0px;
}

#yesterday, #today, #tomorrow {
	background-color: #D3DBE9 ;/*#6e85b6;*/
  opacity: 0.8;
  font-size: medium;
  font-weight: 500;
  color: #555555;
}