.date-picker {
	display: inline-block;
}

/* changes color of date: black when in calendar view, white otherwise */
input[aria-expanded=true] {
	color: black;
}

input[aria-expanded=false] {
	color: white;
}

.md-button {
  height: 45px;
}

.md-button.md-icon-button {
  background-color: #D3DBE9; /*rgba(255, 255, 255, 0.4);*/
  opacity: 0.8;
}

.md-datepicker-input {
  color: white;
  font-size: 20px;
  margin-right: 20px;
  pointer-events: none;
  width: 150px !important;
}

md-icon {
  svg {
    path {
      fill: #555555;
    }
  }
}

.md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: #555555;
}

#datepicker-placement {
  margin-top: 10px;
  margin-left: 45px;
}

._md-datepicker-has-triangle-icon {
    padding-right: 18px;
    margin-right: 0px;
}

#yesterday, #today, #tomorrow {
	background-color: #D3DBE9 ;/*#6e85b6;*/
  opacity: 0.8;
  font-size: 18px;
  font-weight: bold;
  color: #555555;
  height: 45px;
  width: 50px;
  margin-right: 5px;
}

button#yesterday {
  margin-left: 0;
}

#yesterday img, #tomorrow img {
    height: 28px;
    width: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*change scale of popup calendar*/
.md-datepicker-calendar-pane.md-pane-open {
    -webkit-transform: scale(1.5);
    transform: scale(1.5) !important;
    top: 74px !important;
}

/*change dimension of input area in calendar so date shows through*/
.md-datepicker-input-mask-opaque {
  box-shadow: 0 0 0 999px white, 
              inset 0 9px 0px 0px white,  /*top*/
              inset 0 -3px 0 0 white,     /*bottom*/
              inset 13px 0 0 0px white,   /*left*/
              inset -60px 0 0 0px white;  /*right*/
  left: 0 !important;
  top: 0 !important;
}
