/*=======================================================================
** FAMILY VIEW CSS START
=========================================================================
*/
/**
.modal-demo .btn btn-default
**/
/***
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. 
  z-index:10000;
  position: absolute;
  width: 50%; /* Default 

  /* Center the dialog
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
/*-------------------------------------------------------------------*/

/* chart area styles */
.chart-placement {
  height: 150px;
  position: absolute;
  width: 150px;
  margin-left: 180px;
  top: 70px;
}

.how-sleep-button {
  position: absolute;
  top: 115px;
  left: 215px;
  z-index: 1;
  white-space: normal;
  max-width: 110px;
  color: #555555;
  background-color: transparent;
  border: 0px solid transparent;
  font-weight: bold;
  font-size: 16px;
}

button.how-sleep-button:focus, button.how-sleep-button:active, button.how-sleep-button:hover {
    outline: 0;
    color: #555555;
    background-color: transparent;
    border: 0px solid transparent;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: white;
    background-color: #D6C3DB;
    border-color: #D6C3DB;
}

.profile-pics {
  position: absolute; 
  top: 0px; 
  width: 70px; 
  height: 70px;
}

.profile-area {
  display: inline-block;
}

.single-view-button {
  margin-left: 230px;
  margin-bottom: 50px;
  position: absolute;
  top: 5px;
  height: 50px;
  width: 120px;
  font-size: medium;
}

.weekly-view-button {
  margin-left: 100px;
  margin-bottom: 50px;
  position: absolute;
  top: 5px;
  height: 50px;
  width: 120px;
  font-size: medium;

}

.single-view-button, .weekly-view-button {
  background-color: #d6c3db;
  border-color: #d6c3db;
  color: #555555;
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.target-hours {
  position: absolute;
  top: 120px;
  left: -140px;
  margin-bottom: 20px;
  font-size: medium;
  width:100%;
}

.target-hours-text {
  text-align: center;
}

.mood-pics {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 95px;
  left: 220px;
  z-index: 1;
}

#family_moon {
  position: fixed;
  height: 150px;
  top: 45%;
  left: 50%;
  margin-top: 0; /* Negative half of height. */
  margin-left: -71px; /* Negative half of width. */
}

.fdv-names {
  text-align: center;
  position: absolute;
  top: 75px;
  width: 70px;
  margin: 0;
  font-weight: bold;
  font-size: 19px;
}

.fdv-even-column {
  margin-left: 50px;
  margin-bottom: 15px;
  height: 260px;
  width: 450px;
}

.fdv-odd-column {
  margin-left: 270px;
  margin-bottom: 15px;
  height: 260px;
  width: 450px;
}

.hours-slept {
  font-size: medium;
  position: absolute;
  top: 180px;
  left: 40px;
  text-align: center;
}

.data-label {
  font-size: 15px;
}

.data-number {
  font-size: 19px;
  font-weight: 500;
}

.mood-report {
  position: absolute;
  top: 230px;
  font-size: medium;
  width: 100%;
  margin-left: 30px;
}

.mood-report-text {
  text-align: center;
}