.recorder-logo {
  max-width: 100%;
  max-height: 100%;
}

.record-button {
  display: inline-block;
}

.vertical-line {
  border-top: 4px solid rgb(197,202,233);
}

.record-descrip {
  display: block;
  text-align: center;
}

.sound-recorder {
  float: right;
  display: inline-block;
}

.recorder-bar {
  display: inline-block;
  width: 200px;
  height: auto;
  float: left;
  margin-top: 20px;
}

.recorder-bar.recorder-bar-progress{
  margin-top: 20px;
}

.sound-recorder .recorder-info {
  display: inline-block;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 6px 6px 4px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.md-button.md-fab {
  line-height:4rem;
  min-width: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgb(255,255,255);
}

.speech-bubble {
  position: absolute;
  background: #fff;
  border: 2px solid #000;
  /*top: 20px;*/
  padding: 10px;
  padding-bottom: 0;
  font-size: 17px;
  width: 450px;
  right: 300px;
  color: black;
  z-index: 1000;
}

.family-daily-view .speech-bubble, .family-weekly-view .speech-bubble {
  top: 20px;
}

.individual-weekly-view .speech-bubble, .individual-daily-view .speech-bubble {
  top: 70px;
}

.speech-bubble:after, .speech-bubble:before {
  right: 0;
  top: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.speech-bubble:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 10px;
  margin-top: -10px;
  border-right: 0;
  margin-right: -10px;
}
.speech-bubble:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: black;
  border-width: 13px;
  margin-top: -13px;
  border-right: 0;
  margin-right: -13px;
}

