/*=======================================================================
** About Page
=========================================================================
*/

.aboutus-container {
  background: url("../images/paper.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    width: 550px;
    height: 550px;
    display:block;
    margin:auto;
}

.singleview-container p {
  font-size: 115%;
}

#aboutus-contents {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 120px;
}

#aboutus-contents a {
  text-decoration: underline;
}

#aboutus-contents ul {
  columns: 2;
  margin-bottom: 50px;
}
