@charset "UTF-8";
/*=======================================================================
** Single Weekly View
=========================================================================
*/
/* line 5, singleweeklyview.scss */
.singleweeklyview-container {
  width: 90%;
  margin: auto;
}

/* line 10, singleweeklyview.scss */
.swv-target-hours {
  position: absolute;
  top: 30px;
  left: 130px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
}

/* line 19, singleweeklyview.scss */
.swv-row {
  margin-bottom: 10px;
  margin-left: 20px;
}

/* line 24, singleweeklyview.scss */
.swv-date {
  margin-bottom: 0;
  font-size: 18px;
  margin-left: -10px;
}

/* line 30, singleweeklyview.scss */
.swv-date-first {
  /* margin-top: -25px; */
  position: absolute;
  top: 300px;
}

/* line 36, singleweeklyview.scss */
#swv-legend {
  margin-bottom: 90px;
  margin-left: 400px;
  padding-top: 35px;
}

/* line 42, singleweeklyview.scss */
#swv-legend li {
  display: inline-block;
}

/*
#swv-legend>li:nth-child(even){
    margin-right:10px; 
    font-size: 12px;
}​
*/
/* line 53, singleweeklyview.scss */
#swv-legend li:nth-child(2),
#swv-legend li:nth-child(4),
#swv-legend li:nth-child(6),
#swv-legend li:nth-child(8) {
  margin-right: 25px;
  font-size: medium;
}

/* line 61, singleweeklyview.scss */
#no-data-chart {
  height: 55px;
}

/* green */
/* line 66, singleweeklyview.scss */
#swv-legend-sleep {
  background-color: #44d2d1;
}

/* purple */
/* line 71, singleweeklyview.scss */
#swv-legend-movement {
  background-color: #551A8B;
}

/* pink */
/* line 76, singleweeklyview.scss */
#swv-legend-restless {
  background-color: #FC3F73;
}

/* line 80, singleweeklyview.scss */
#swv-legend-no-data {
  background-color: #D6C3DB;
}

/* line 84, singleweeklyview.scss */
#swv-legend-sleep, #swv-legend-movement, #swv-legend-restless, #swv-legend-no-data {
  width: 40px;
  height: 15px;
  margin-bottom: -3px;
}

/* line 90, singleweeklyview.scss */
.swv-chart-placement {
  margin-left: 100px;
  margin-top: -40px;
}

/* line 95, singleweeklyview.scss */
.swv-empty-chart-placement {
  margin-left: 100px;
  margin-top: -30px;
  margin-bottom: 10px;
}

/* line 101, singleweeklyview.scss */
.swv-chart-placement-last {
  margin-left: 100px;
  margin-top: -30px;
}

/* line 106, singleweeklyview.scss */
.first-empty-row {
  height: 30px;
  margin-top: 25px;
}

/* line 111, singleweeklyview.scss */
.regular-row {
  height: 30px;
}

/* line 115, singleweeklyview.scss */
.first-row {
  height: 95px;
}

/* line 119, singleweeklyview.scss */
.last-row {
  height: 80px;
}

/* line 123, singleweeklyview.scss */
.swv-mood-pics {
  width: 35px;
  height: 35px;
  margin-top: -50px;
  margin-left: 940px;
}

/* line 130, singleweeklyview.scss */
.swv-mood-pics-last {
  width: 35px;
  height: 35px;
  margin-top: -175px;
  margin-left: 940px;
}
