/*=======================================================================
** Single Daily View
=========================================================================
*/
/* line 5, singledailyview.scss */
.singleview-container {
  width: 90%;
  margin: auto;
}

/* line 10, singledailyview.scss */
.sdv-empty-chart {
  margin-top: 230px;
}

/* line 14, singledailyview.scss */
#sdv-profile-pic {
  position: relative;
  top: 0px;
  width: 70px;
  height: 70px;
}

/* line 21, singledailyview.scss */
.sdv-mood-pics {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 75px;
  left: 240px;
  z-index: 1;
}

/* line 30, singledailyview.scss */
.sdv-mood-report {
  position: absolute;
  top: 210px;
  font-size: medium;
  width: 70%;
  margin-left: 145px;
}

/* line 38, singledailyview.scss */
.sdv-mood-report-text {
  text-align: center;
}

/* line 42, singledailyview.scss */
#sdv-name {
  text-align: center;
  width: 70px;
  margin: 0;
}

/* line 48, singledailyview.scss */
#sdv-legend {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 400px;
}

/* line 54, singledailyview.scss */
#sdv-legend li {
  display: inline-block;
}

/* line 58, singledailyview.scss */
#sdv-legend li:nth-child(2),
#sdv-legend li:nth-child(4),
#sdv-legend li:nth-child(6),
#sdv-legend li:nth-child(8) {
  margin-right: 10px;
  font-size: medium;
}

/* line 66, singledailyview.scss */
.sdv-chart-placement {
  height: 150px;
  position: absolute;
  width: 150px;
  margin-left: 200px;
  top: 50px;
}

/* line 74, singledailyview.scss */
.sdv-barchart-placement {
  /*margin-top: 120px;*/
}

/* line 78, singledailyview.scss */
.sdv-mood-text {
  text-align: center;
}

/* line 82, singledailyview.scss */
.sdv-sleep-data {
  margin-left: 500px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-top: 50px;
}

/* line 91, singledailyview.scss */
.sdv-sleep-data li {
  text-align: center;
}

/* numbers */
/* line 96, singledailyview.scss */
.sdv-sleep-data li:nth-child(odd) {
  font-size: 24px;
  font-weight: bold;
}

/* line 101, singledailyview.scss */
.sdv-sleep-data li:nth-child(even) {
  font-size: 12px;
  margin-bottom: 30px;
}
