/*=======================================================================
** Single Weekly View
=========================================================================
*/

.swv-row {
	margin-bottom: 10px;
}

.swv-date {
	margin-bottom: 0;
}

#swv-legend {
	margin-bottom: 30px;
    margin-top: -30px;
    margin-left: 400px;
}

#swv-legend li {
	display:inline-block;
}

/*
#swv-legend>li:nth-child(even){
    margin-right:10px; 
    font-size: 12px;
}​
*/

#swv-legend li:nth-child(2), 
#swv-legend li:nth-child(4), 
#swv-legend li:nth-child(6), 
#swv-legend li:nth-child(8) {
  	margin-right:10px; 
    font-size: 12px;
}

#no-data-chart {
	height:55px;
}

/* green */
#swv-legend-sleep { 
    background-color: #44d2d1;
}

/* purple */
#swv-legend-movement { 
    background-color: #551A8B;
}

/* pink */
#swv-legend-restless { 
    background-color: #FC3F73;
}

#swv-legend-no-data {
	background-color: #D6C3DB;
}

#swv-legend-sleep, #swv-legend-movement, #swv-legend-restless, #swv-legend-no-data {
	width: 40px; 
	height:15px; 
	margin-bottom: -3px;
}

.swv-chart-placement {
	margin-left: 100px;
    margin-top: -40px;
}

.swv-empty-chart-placement {
	margin-left: 100px;
    margin-top: -30px;
}

.swv-chart-placement-last {
	margin-left: 100px;
    margin-top: -30px;
}

.swv-mood-pics {
	width: 40px;
  	height: 40px;
  	margin-top: -55px;
  	margin-left: 920px;
}

.swv-mood-pics-last {
	width: 40px;
  	height: 40px;
  	margin-top: -180px;
  	margin-left: 920px;
}