/*=======================================================================
** Single Daily View
=========================================================================
*/
/* line 5, singledailyview.scss */
.singleview-container {
  width: 90%;
  margin: auto;
}

/* line 10, singledailyview.scss */
p.sdv-names {
  font-size: 20px;
  width: 70px;
  text-align: center;
  font-weight: bold;
}

/* line 17, singledailyview.scss */
#sdv-profile-pic {
  position: relative;
  top: 0px;
  width: 70px;
  height: 70px;
}

/* line 24, singledailyview.scss */
.sdv-names {
  text-align: center;
  width: 70px;
  font-size: 20px !important;
  margin-top: 75px;
}

/* line 31, singledailyview.scss */
.sdv-mood-pics {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 25px;
  z-index: 1;
}

/* line 40, singledailyview.scss */
.sdv-mood-report {
  position: absolute;
  top: 155px;
  width: 200px;
  margin-left: -25px;
}

/* line 47, singledailyview.scss */
.sdv-mood-report-text {
  text-align: center;
  font-size: 18px !important;
}

/* line 52, singledailyview.scss */
#sdv-legend {
  /*margin-top: 20px;
  margin-left: 500px;*/
  position: absolute;
  top: 65%;
  left: 45%;
}

/* line 60, singledailyview.scss */
#sdv-legend li {
  display: inline-block;
}

/* line 64, singledailyview.scss */
#sdv-legend li:nth-child(2),
#sdv-legend li:nth-child(4),
#sdv-legend li:nth-child(6),
#sdv-legend li:nth-child(8) {
  margin-right: 25px;
  font-size: medium;
}

/* line 72, singledailyview.scss */
.sdv-chart-placement {
  height: 150px;
  position: absolute;
  width: 150px;
  margin-left: 250px;
  top: 20px;
}

/* line 80, singledailyview.scss */
.sdv-bar-chart canvas {
  width: 1100px !important;
}

/* line 84, singledailyview.scss */
.sdv-barchart-placement {
  width: 1100px;
  height: 350px;
  position: absolute;
  top: 55%;
}

/* line 91, singledailyview.scss */
.sdv-bar-chart {
  margin-top: 20px;
}

/* line 95, singledailyview.scss */
.sdv-empty-chart {
  margin-top: -10px;
}

/* line 99, singledailyview.scss */
.sdv-mood-text {
  text-align: center;
}

/* line 103, singledailyview.scss */
.sdv-sleep-data {
  margin-left: 500px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* line 113, singledailyview.scss */
.sdv-sleep-data li {
  text-align: center;
}

/* numbers */
/* line 118, singledailyview.scss */
.sdv-sleep-data li:nth-child(odd) {
  font-size: 26px;
  font-weight: bold;
}

/* line 123, singledailyview.scss */
.sdv-sleep-data li:nth-child(even) {
  font-size: medium;
  margin-bottom: 30px;
}
