/*=======================================================================
** Single Daily View
=========================================================================
*/
.singleview-container{
  width: 90%;
  margin: auto;
}

.sdv-empty-chart {
  margin-top: 230px;
}

#sdv-profile-pic {
	position: relative; 
	top: 0px; 
	width: 70px; 
	height: 70px;
}

.sdv-mood-pics {
	position: absolute;
  width: 100px;
  height: 100px;
  top: 75px;
  left: 240px;
  z-index: 1;
}

.sdv-mood-report {
  position: absolute;
  top: 210px;
  font-size: medium; 
  width: 70%;
  margin-left: 145px;
}

.sdv-mood-report-text {
  text-align: center;
}

#sdv-name {
	text-align: center;
  width: 70px;
  margin: 0;
}

#sdv-legend {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 400px;
}

#sdv-legend li {
  display:inline-block;
}

#sdv-legend li:nth-child(2), 
#sdv-legend li:nth-child(4), 
#sdv-legend li:nth-child(6), 
#sdv-legend li:nth-child(8) {
    margin-right:10px; 
    font-size: medium;
}

.sdv-chart-placement {
  height: 150px;
  position: absolute;
  width: 150px;
  margin-left: 200px;
  top: 50px;
}

.sdv-barchart-placement {
  /*margin-top: 120px;*/
}

.sdv-mood-text {
  text-align: center;
}

.sdv-sleep-data {
  margin-left: 500px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-top: 50px;
}

.sdv-sleep-data li {
  text-align: center;
}

/* numbers */
.sdv-sleep-data li:nth-child(odd) {
  font-size: 24px;
  font-weight: bold;
}

.sdv-sleep-data li:nth-child(even) {
  font-size: 12px;
  margin-bottom: 30px;
}