/*=======================================================================
** Single Daily View
=========================================================================
*/
/* line 5, singledailyview.scss */
.singleview-container {
  width: 90%;
  margin: auto;
}

/* line 10, singledailyview.scss */
p.sdv-names {
  font-size: 20px;
  width: 70px;
  text-align: center;
}

/* line 16, singledailyview.scss */
#sdv-profile-pic {
  position: relative;
  top: 0px;
  width: 70px;
  height: 70px;
}

/* line 23, singledailyview.scss */
.sdv-names {
  font-size: 19px !important;
  margin-top: 70px;
}

/* line 28, singledailyview.scss */
.sdv-mood-pics {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 25px;
  z-index: 1;
}

/* line 37, singledailyview.scss */
.sdv-mood-report {
  position: absolute;
  top: 150px;
  font-size: 17px;
  width: 200px;
  margin-left: -25px;
}

/* line 45, singledailyview.scss */
.sdv-mood-report-text {
  text-align: center;
}

/* line 49, singledailyview.scss */
#sdv-name {
  text-align: center;
  width: 70px;
  margin: 0;
}

/* line 55, singledailyview.scss */
#sdv-legend {
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 400px;
}

/* line 61, singledailyview.scss */
#sdv-legend li {
  display: inline-block;
}

/* line 65, singledailyview.scss */
#sdv-legend li:nth-child(2),
#sdv-legend li:nth-child(4),
#sdv-legend li:nth-child(6),
#sdv-legend li:nth-child(8) {
  margin-right: 10px;
  font-size: medium;
}

/* line 73, singledailyview.scss */
.sdv-chart-placement {
  height: 150px;
  position: absolute;
  width: 150px;
  margin-left: 250px;
  top: 50px;
}

/* line 81, singledailyview.scss */
.sdv-bar-chart {
  margin-top: 0px;
}

/* line 85, singledailyview.scss */
.sdv-empty-chart {
  margin-top: 120px;
}

/* line 89, singledailyview.scss */
.sdv-mood-text {
  text-align: center;
}

/* line 93, singledailyview.scss */
.sdv-sleep-data {
  margin-left: 500px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* line 103, singledailyview.scss */
.sdv-sleep-data li {
  text-align: center;
}

/* numbers */
/* line 108, singledailyview.scss */
.sdv-sleep-data li:nth-child(odd) {
  font-size: 24px;
  font-weight: bold;
}

/* line 113, singledailyview.scss */
.sdv-sleep-data li:nth-child(even) {
  font-size: 12px;
  margin-bottom: 30px;
}
